<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        >

        <!-- Homepage activity-->
        <activity
            android:name=".presentation.HomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--- page for logged in used -->
        <activity android:name=".presentation.LoggedinActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>

        <!-- login page Activity -->
        <activity
            android:name=".presentation.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
        </activity>

        <!-- book info activity -->
        <activity android:name=".presentation.BookInfoActivity"
            android:exported="true"/>

        <!-- page for creating a account -->
        <activity android:name=".presentation.AccountActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>

        <!-- page for creating a account -->
        <activity android:name=".presentation.ChangeAccount"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>

        <!-- professor course book page -->
        <activity android:name=".presentation.CoursesBooksActivity"
            android:exported="true"/>

        <!-- library page -->
        <activity android:name=".presentation.LibraryActivity"
            android:exported="true"/>

        <!-- add book popup page -->
        <activity android:name=".presentation.AddBookPopupActivity"
            android:exported="true"/>

        <activity android:name=".presentation.SellBooksActivity"
            android:exported="true"/>

        <activity android:name=".presentation.BooksForSaleActivity"
            android:exported="true"/>

    </application>

</manifest>
